<link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
*{margin:0;padding:0;outline:0}
body{font-family: 'Dancing Script', cursive;
font-size:14px;line-height:18px;color:#000;background:url(images/dark-grey-terrazzo.png)repeat scroll 0 0 #fff}

.templete{width:960px;margin:0 auto;}
.clear{overflow:hidden;}
input[type="text"],[type="email"],[type="password"]{
    width: 300px;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #b7801c;
}
input[type="submit"] {
    background: #b7801c;
    border: 1px solid #b7801c;
    padding: 1px 10px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
input[type="submit"]:hover{background:#fef4e5;color:#000}
textarea {
    width: 300px;
    padding: 5px;
    height: 110px;
    margin-bottom: 10px;
	border: 1px solid #b7801c;
}
.headersection{background: #b7801c;color:#fff;}
.logo{width:430px;float:left;}
.logo img{
    float: left;
    width: 70px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 15px;
}
.logo h2{
    margin-top: 24px;
    font-size: 33px;
    margin-bottom: 11px;
    color: #fff;
    text-shadow: 2px 1px 0px #666;
}
.logo p{}
.social {
    width: 255px;
    float: right;
    padding-top: 16px;
}
.social img{width: 60px;}
.navsection{background:#e6af4b;}
.navsection ul{margin:0;padding:0;list-style:none;}
.navsection ul li{display:block;float:left;}
.navsection ul li a {
    display: block;
    text-decoration: none;
    padding: 5px 15px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #B7801C;
    border-radius: 15px;
    padding-top: 2px;
    background: #c48d29;
    color: #fff;
}
.navsection ul li a:hover,#active{background:#fef4e5;color:#333;}
.slidersection{
	margin-bottom:15px;
	box-shadow:0px 8px 10px -2px #555;
}
.contentsection{background:#fff;}
.maincontent {
    width: 628px;
    background: #fef4e5;
    float: left;
    padding: 8px 20px;
    margin: 0 15px 15px 0;
    margin-left: 0px;
    border: 1px solid #b7801c;
}
.maincontent p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
}
.about{}
.about h2{padding: 10px;
    border-bottom: 3px solid #e0d6c7;
    margin-bottom: 10px;
    font-size: 25px;
    color: #ac7511;}
.about img{}
.about p{}
.samepost{}
.samepost h2 {
    padding: 10px;
    border-bottom: 2px solid #e0d6c7;
    margin-bottom: 10px;
    font-size: 25px;
    color: #ac7511;
}
.samepost img {
    background: #fff;
    float: left;
    width: 200px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #edd450;
}
.samepost p {
    font-size: 16px;
    line-height: 23px;
    text-align: justify;
}
.readmore {
    float: right;
    margin-top: 10px;
}
.readmore a {
    text-decoration: none;
    background: #fff;
    display: block;
    padding: 4px 8px;
    font-size: 17px;
    color: #B7801C;
    border: 1px solid #B7801C;
    border-radius: 5px;
}
.readmore a:hover{color:#E16525;}
.sidebar {
    background: #fef4e5 none repeat scroll 0 0;
    float: right;
    margin-top: 0px;
    padding: 10px;
    width: 253px;
    margin-bottom: 15px;
    border: 1px solid #B7801C;
}
.samesidebar {
    margin-bottom: 10px;
}
.samesidebar h2 {
    background: #e6af4b none repeat scroll 0 0;
    border-bottom: 2px solid #b7801c;
    color: #333;
    margin-bottom: 8px;
    padding: 10px;
}
.samesidebar ul{padding:0;margin:0;list-style:none;}
.samesidebar ul li {
    font-size: 16px;
    padding: 5px 8px;
    border-bottom: 1px dashed #e9c05c;
    padding-left: 0;
}
.samesidebar ul li:last-child{border-bottom: 0px dashed #e9c05c;}
.samesidebar ul li a {
    text-decoration: none;
    color: #ac7511;
}
.samesidebar ul li a:hover{color:#DD4D3F;}
.samesidebar p {
    margin-bottom: 10px;
}
.Popular{}
.Popular h3 {
    font-weight: normal;
    font-size: 20px;
    border-bottom: 1px dashed #B7801C;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.Popular h3 a { text-decoration:none;color:#444}
.Popular img{}
.Popular p{}
.footersection{height:90px;background: #b7801c;text-align:center;}
.footersection p{}
.fotermanu {
    margin-top: 25px;
    margin-bottom: 5px;
}
.fotermanu ul{padding:0;margin:0;list-style:nune;text-align:center;}
.fotermanu ul li{display:inline-block;}
.fotermanu ul li a {
    color: #FFD906;
    font-size: 18px;
    margin-right: 5px;
}
.Contact{}
.Contact h2{padding: 10px;
    border-bottom: 3px solid #e0d6c7;
    margin-bottom: 10px;
    font-size: 25px;
    color: #ac7511;
	}